@CHARSET "UTF-8";

#form_main {
	width: 100%;
	padding-top: 0px;
	margin-bottom: 150px;
}

#search_form_main {
	width: 100%;
	padding-top: 0px;
	margin-bottom: 50px;
}

#form_div_template {
	display: none;
}

.form-div {
	background-color: #dddcdc;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin: 2% 3%;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.search-form-div {
	background-color: #dddcdc;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin: 2% 3%;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.form {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	margin-top: 45px;
}

.input-checkbox {
	z-index: 1;
}

input[type=checkbox] {
  display: none;
}

.check-regist-label {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  color: red;
  position: absolute;
  display: inline-block;
  padding: 0 0 0 42px;
  vertical-align: middle;
  cursor: pointer;
}

.check-regist-label:hover:after {
  border-color: #0171bd;
}

.check-regist-label:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  content: '';
}

.check-regist-label:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #0171bd;
  border-bottom: 3px solid #0171bd;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=checkbox]:checked + .check-regist-label:before {
  opacity: 1;
}

.input-title {
	margin-left: 15px;
}

.feedback-input {
	width: 90%;
	color: #3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	margin: 15px 0px 15px 5px;
	padding: 13px 13px 13px 13px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
	padding: 13px 13px 13px 13px;
}

.focused {
	color: #30aed6;
	border: #30aed6 solid 3px;
}

label {
	font-weight: bold; 
}

.input-text, .input-date, .input-file {
	width: 420px;
	height: 75px;
	line-height: 50%;
	resize: vertical;
}

.input-date input[type="text"], .input-file input[type="text"] {
	width: 330px;
	height: 55px;
	line-height: 50%;
	resize: vertical;
}

.input-textarea, textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	resize: none;
}

.ui-datepicker-trigger {
	width: 65px;
	height: 75px;
	margin-right: 20px;
	padding-top: 5px;
	float: right;
}

.ui-tooltip {
  background: white;
}

div.float-clear {
	clear: both;
}

input[type="file"] {
	display: none;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	background-color: white;
}

.file-select-button {
	width: 50px;
	height: 56px;
	margin-top: -5px;
	margin-left: -10px;
	padding-top: 6px;
	background-color: black;
}

.button-blue {
	font-size: 20px;
	width: 160px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	border-bottom: solid 6px #7b7a7a; /*少し濃い目の色に*/
	border-radius: 10px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: 700;
}

.button-blue:active {
	border-bottom: solid 2px #7b7a7a;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.30);
}

.pageFooter {
	position: fixed;	/* フッターを固定する */
	bottom: 0;			/* 上部から配置の基準位置を決める */ 
	width: 100%;		/* フッターの横幅を指定する */
	padding-bottom: 20px;		/* フッター内側の余白を指定する(上下左右) */
	padding-top: 10px;
	background-color: #FFFFFF;	/* フッターの背景色を指定する */
}

#add_form_button {
	float: left;
	background: navy; /*背景色*/
	padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 10px;
	margin-left: 4%;
}

#delete_form_button {
	float: left;
	background: red; /*背景色*/
	padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 10px;
	margin-left: 1%;
}

#select_all_button {
	float: left;
	background: #bb334f; /*背景色*/
	padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 10px;
	margin-left: 1%;
}

#clear_all_button {
	float: left;
	background: #bb334f; /*背景色*/
	padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 10px;
	margin-left: 1%;
}

#submit_button {
	float: right;
	background: green; /*背景色*/
	padding-top: 22px;
	padding-bottom: 22px;
	margin-top: 10px;
	margin-right: 8%;
}