@CHARSET "UTF-8";

body {
	margin: 0;
}

.header {
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1000;
}

header {
	background-image: url(../../img/yohji_collection.jpg);
	height: 200px;
}

#contextPath {
	display: none;
}

.pageTitle {
	margin-left: 10px;
	margin-bottom: 0;
	font-family: 'New Gulim';
}

#inline {
	margin-top: 0;
	border-bottom: solid 5px black;
}